@import '../../helpers/mixins';
@import '../../helpers/variables';

.home-banner {
    position: relative;
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    padding-top: 85px;
    // animation: bannerScale 2s ease-out 1 forwards;
    &::before {
        content: "";
        width: 100%;
        height: 90%;
        background: linear-gradient(to top, #000000cf, transparent);
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 540px;
        height: min(calc(100vh - 85px), 768px);
        z-index: 2;
        position: relative;
        @include max(991.98) {
            justify-content: flex-end;
            max-width: 576px;
            margin: 0 auto;
            text-align: center;
        }
    }
    &__title {
        font-size: size(68);
        font-weight: $font-semibold;
        line-height: 1.1;
        color: $white;
        margin-bottom: 15px;
        max-width: 500px;
        @include max(991.98) {
            font-size: size(48);
            text-align: center;
            max-width: 500px;
            margin: 0 auto;
            margin-bottom: 15px;
        }
        @include max(767.98) {
            font-size: size(40);
            max-width: 375px;
        }
        @include max(575.98) {
            font-size: size(32);
            max-width: 320px;
        }
    }
    &__description {
        font-size: size(16);
        font-weight: $font-regular;
        line-height: 1.7;
        color: $white;
        margin-bottom: 35px;
        @include max(991.98) {
            max-width: 100%;
            line-height: 1.5;
            margin: 0 auto;
            margin-bottom: 60px;
        }
        @include max(767.98) {
            font-size: size(14);
            text-align: center;
        }
    }
    .btn-wrap {
        @include max(991.98) {
            display: none;
        }
    }
}

.android {
    .home-banner__contents {
        height: calc(100vh - 140px);
    }
}

// @keyframes bannerScale {
//     0% {
//         background-size: 120%;
//     }
//     100% {
//         background-size: 100%;
//     }
// }