@import '../../helpers/mixins';
@import '../../helpers/variables';
@import '../../helpers/extensions';

.home-services {
    padding: 80px 0;
    &__subtitle {
        @extend %section-subtitle;
    }
    &__title {
        @extend %section-title;
    }
    &__description {
        @extend %section-description;
    }
    .service-card {
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        &:hover {
            .service-card__contents {
                background: $primary-color;
                transform: translateY(0) !important;
            }
        }
        &__contents {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 20px;
            width: 100%;
            height: 100%;
            transition: 0.5s ease-out transform, 0.5s ease-in background;
        }
        &__image {
            max-width: 500px;
            overflow: hidden;
            @include aspect-ratio(300, 500);
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
            img {
                transition: 0.5s ease-out all;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 30%;
                background: linear-gradient(to top, #000000, #ffffff00);
            }
        }
        &__title {
            font-size: size(22);
            font-weight: $font-semibold;
            line-height: 26px;
            color: $white;
            margin-bottom: 10px;
            max-width: 300px;
        }
        &__description {
            font-size: size(14);
            font-weight: $font-regular;
            line-height: 21px;
            color: $white;
            margin-bottom: 0;
            @include line-clamp(5);
        }
    }
}