@import '../../helpers/mixins';
@import '../../helpers/variables';
@import '../../helpers/extensions';

.home-vision-and-mission {
    padding: 80px 0;
    background: #001631;
    @include max(767.98) {
        padding: 40px 0;
    }
    &__subtitle {
        @extend %section-subtitle;
    }
    &__title {
        @extend %section-title;
    }
    &__description {
        @extend %section-description;
        margin-bottom: 0;
    }
    &__card {
        max-width: 500px;
        margin: 0 auto;
        @include max(991.98) {
            &:first-child {
                margin-bottom: 30px;
            }
        }
    }
}