<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top__wrap">
                <div class="logo-col">
                    <figure class="footer-logo">
                        <img src="/assets/images/seaventure-logo.png" alt="seaventure-logo">
                    </figure>
                </div>
                <nav class="links-col">
                    <dl class="page-links">
                        <dt class="active">Quick Links</dd>
                        <dd>
                            <a href="/">Home</a>
                        </dd>
                        <dd>
                            <a href="#">About</a>
                        </dd>
                        <dd>
                            <a href="#">Services</a>
                        </dd>
                        <dd>
                            <a href="#">Contact</a>
                        </dd>
                    </dl>
                    <dl class="page-links">
                        <dt>Company Address</dt>
                        <dd>
                            <address>Address Line 1</address>
                            <address>Address Line 2</address>
                            <address>Address Line 3</address>
                            <address>Address Line 4</address>
                        </dd>
                    </dl>
                    <dl class="page-links">
                        <dt>Contact Info</dt>
                        <dd>
                            <a href="tel:+971529512285">+971529512285</a>
                        </dd>
                        <dd>
                            <a href="mailto:manager@seaventure.live">manager@seaventure.live</a>
                        </dd>
                        <dd>
                            <a href="mailto:contact@seaventure.live">contact@seaventure.live</a>
                        </dd>
                    </dl>
                    <dl class="page-links">
                        <dt>Follow Us</dt>
                        <dd>
                            <a href="http://" target="_blank" rel="noopener noreferrer">Facebook</a>
                        </dd>
                        <dd>
                            <a href="http://" target="_blank" rel="noopener noreferrer">Instagram</a>
                        </dd>
                        <dd>
                            <a href="http://" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                        </dd>
                        <dd>
                            <a href="http://" target="_blank" rel="noopener noreferrer">Twitter</a>
                        </dd>
                    </dl>
                </nav>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyrights">
                Copyrights @<%= new Date().getFullYear() %> Seaventure. All rights reserved
            </div>
            <ul class="policy-links">
                <li>
                    <a href="">Privacy Policy</a>
                </li>
                <li>
                    <a href="">Terms and Conditions</a>
                </li>
            </ul>
            <!-- <ul class="socials">
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">Whatsapp</a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">Instagram</a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">Twitter</a>
                </li>
            </ul> -->
        </div>
    </div>
</div>