<div class="footer">
    <div class="container">
        <figure class="footer-logo">
            <img src="/assets/images/seaventure-logo.png" alt="seaventure-logo">
        </figure>
    </div>
</div>