<header class="main-header">
    <div class="container">
        <a href="/">
            <figure class="main-header__logo">
                <img src="/assets/images/seaventure-logo.png" alt="seaventures-logo" title="seaventure" />
            </figure>
        </a>
        <nav class="main-nav">
            <ul class="main-nav__list">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <ul class="socials__list">
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Component_13_2" data-name="Component 13 – 2" width="9.793" height="19.586" viewBox="0 0 9.793 19.586" class="svg replaced-svg">
                            <path id="Path_6911" data-name="Path 6911" d="M134.121,6.733V4.285a1.225,1.225,0,0,1,1.224-1.224h1.224V0h-2.448a3.672,3.672,0,0,0-3.672,3.672v3.06H128v3.06h2.448v9.793h3.672V9.793h2.448l1.224-3.06Z" transform="translate(-128)" fill="#7b90aa"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Component_12_2" data-name="Component 12 – 2" width="21.303" height="21.308" viewBox="0 0 21.303 21.308" class="svg replaced-svg">
                            <path id="Path_15813" data-name="Path 15813" d="M21.7,6.264a7.786,7.786,0,0,0-.5-2.585A5.458,5.458,0,0,0,18.085.562,7.806,7.806,0,0,0,15.5.067C14.36.013,14,0,11.105,0S7.85.013,6.714.062a7.788,7.788,0,0,0-2.585.5A5.2,5.2,0,0,0,2.239,1.79,5.246,5.246,0,0,0,1.011,3.675a7.807,7.807,0,0,0-.5,2.585C.462,7.4.449,7.763.449,10.656s.013,3.255.062,4.391a7.785,7.785,0,0,0,.5,2.585A5.457,5.457,0,0,0,4.125,20.75a7.807,7.807,0,0,0,2.585.5c1.136.05,1.5.062,4.391.062s3.255-.012,4.391-.062a7.784,7.784,0,0,0,2.585-.5,5.45,5.45,0,0,0,3.118-3.118,7.812,7.812,0,0,0,.5-2.585c.05-1.136.062-1.5.062-4.391S21.748,7.4,21.7,6.264Zm-1.919,8.7a5.84,5.84,0,0,1-.366,1.977,3.535,3.535,0,0,1-2.023,2.023,5.861,5.861,0,0,1-1.977.366c-1.124.05-1.461.062-4.3.062s-3.184-.012-4.3-.062a5.837,5.837,0,0,1-1.977-.366,3.279,3.279,0,0,1-1.224-.8,3.313,3.313,0,0,1-.8-1.224,5.862,5.862,0,0,1-.366-1.977c-.05-1.124-.062-1.461-.062-4.3s.012-3.184.062-4.3a5.837,5.837,0,0,1,.366-1.977,3.239,3.239,0,0,1,.8-1.224,3.308,3.308,0,0,1,1.224-.795A5.865,5.865,0,0,1,6.809,2c1.124-.05,1.461-.062,4.3-.062s3.184.013,4.3.062a5.84,5.84,0,0,1,1.977.366,3.276,3.276,0,0,1,1.224.795,3.312,3.312,0,0,1,.8,1.224A5.864,5.864,0,0,1,19.78,6.36c.05,1.124.062,1.461.062,4.3S19.83,13.84,19.78,14.964Zm0,0" transform="translate(-0.449 0)" fill="#7b90aa"></path>
                            <path id="Path_15815" data-name="Path 15815" d="M130.423,124.5a5.474,5.474,0,1,0,5.474,5.474A5.475,5.475,0,0,0,130.423,124.5Zm0,9.024a3.551,3.551,0,1,1,3.551-3.551A3.551,3.551,0,0,1,130.423,133.524Zm0,0" transform="translate(-119.768 -119.318)" fill="#7b90aa"></path>
                            <path id="Path_15814" data-name="Path 15814" d="M365.005,89.879a1.278,1.278,0,1,1-1.278-1.278A1.278,1.278,0,0,1,365.005,89.879Zm0,0" transform="translate(-347.381 -84.914)" fill="#7b90aa"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Icon_zocial-linkedin" data-name="Icon zocial-linkedin" width="20.71" height="19.791" viewBox="0 0 20.71 19.791" class="svg replaced-svg">
                            <path id="Icon_zocial-linkedin-2" data-name="Icon zocial-linkedin" d="M-.18,2.515A2.153,2.153,0,0,1,.52.866,2.567,2.567,0,0,1,2.339.216a2.49,2.49,0,0,1,1.779.64,2.255,2.255,0,0,1,.7,1.719,2.105,2.105,0,0,1-.68,1.6,2.571,2.571,0,0,1-1.839.66h-.02A2.446,2.446,0,0,1,.5,4.174,2.216,2.216,0,0,1-.18,2.515ZM.08,20.007V6.653H4.518V20.007H.08Zm6.9,0h4.438V12.55a2.878,2.878,0,0,1,.16-1.079,2.9,2.9,0,0,1,.85-1.149,2.172,2.172,0,0,1,1.429-.47q2.239,0,2.239,3.019v7.137H20.53V12.35a6.434,6.434,0,0,0-1.4-4.488,4.773,4.773,0,0,0-3.7-1.529,4.537,4.537,0,0,0-4.018,2.219v.04h-.02l.02-.04v-1.9H6.977q.04.64.04,3.978T6.977,20.007Z" transform="translate(0.18 -0.216)" fill="#7b90aa"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Component_11_2" data-name="Component 11 – 2" width="21.07" height="17.119" viewBox="0 0 21.07 17.119" class="svg replaced-svg">
                            <path id="twitter_11_" data-name="twitter (11)" d="M21.07,50.027a9.006,9.006,0,0,1-2.489.682,4.3,4.3,0,0,0,1.9-2.387,8.632,8.632,0,0,1-2.739,1.046,4.319,4.319,0,0,0-7.472,2.954,4.448,4.448,0,0,0,.1.985,12.226,12.226,0,0,1-8.9-4.518,4.321,4.321,0,0,0,1.327,5.773,4.266,4.266,0,0,1-1.952-.532v.047A4.339,4.339,0,0,0,4.3,58.32a4.311,4.311,0,0,1-1.133.142,3.819,3.819,0,0,1-.818-.074A4.361,4.361,0,0,0,6.389,61.4,8.679,8.679,0,0,1,1.034,63.24,8.091,8.091,0,0,1,0,63.181a12.161,12.161,0,0,0,6.627,1.938A12.21,12.21,0,0,0,18.921,52.828c0-.191-.007-.375-.016-.558A8.617,8.617,0,0,0,21.07,50.027Z" transform="translate(0 -48)" fill="#7b90aa"></path>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="close-menu-btn">
                <span></span>
                <span></span>
            </div>
        </nav>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="menu-overlay"></div>
</header>