<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- main stylesheet -->
    <link rel="stylesheet" href="/assets/css/main.min.css">
    <!-- common stylesheet -->
    <link rel="stylesheet" href="/assets/css/components/common.css">
    <!-- component stylesheets -->
    
    <title>Seaventure | About</title>
</head>
<body>
    <%- include('partials/header') %>
    <main class="about-page">
        <h1>About</h1>
    </main>
    <%- include('partials/footer') %>
    <!-- pagescript -->
    <script></script>
    <!-- component script -->
    <script src=""></script>
    <!-- main script -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>