<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- main stylesheet -->
    <link rel="stylesheet" href="assets/css/main.min.css">
    <!-- common stylesheet -->
    <link rel="stylesheet" href="assets/css/components/common.css">
    <!-- component stylesheets -->
    
    <title>Seaventure | Home</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1>Seaventure</h1>
    <p><a href="/about">About Us</a></p>
    <%- include('partials/footer') %>
    <!-- pagescript -->
    <script></script>
    <!-- component script -->
    <script src=""></script>
    <!-- main script -->
    <script src="assets/js/main.js"></script>
</body>
</html>