<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Fonts: Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- main stylesheet -->
    <link rel="stylesheet" href="/assets/css/main.min.css">
    <!-- common stylesheet -->
    <link rel="stylesheet" href="/assets/css/components/common.css">
    <!-- component stylesheets -->
    <link rel="stylesheet" href="/assets/css/components/home/home-banner.css">
    
    <title>Seaventure | Home</title>
</head>
<body>
    <%- include('partials/header') %>
    <main class="homepage">
        <section class="home-banner" style="background-image: url('/assets/images/home/home-banner.jpg')">
            <div class="container">
                <div class="home-banner__contents">
                    <h1 class="home-banner__title">Lorem ipsum sit dolor amet</h1>
                    <p class="home-banner__description">Voluptate proident aliqua ea sunt amet pariatur pariatur Lorem deserunt eiusmod laboris nisi cupidatat. Ut dolore ipsum dolor ea reprehenderit commodo tempor ad.</p>
                    <div class="btn-wrap">
                        <a href="/about" class="btn btn-primary">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <!-- pagescript -->
    <script></script>
    <!-- component script -->
    <script src=""></script>
    <!-- main script -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>