<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ff5e14">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Fonts: Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- main stylesheet -->
    <link rel="stylesheet" href="/assets/css/main.min.css">
    <!-- common stylesheet -->
    <link rel="stylesheet" href="/assets/css/components/common.css">
    <!-- component stylesheets -->
    <link rel="stylesheet" href="/assets/css/components/home/home-banner.css">
    <link rel="stylesheet" href="/assets/css/components/home/home-about.css">
    <link rel="stylesheet" href="/assets/css/components/home/home-services.css">
    <link rel="stylesheet" href="/assets/css/components/home/home-why-us.css">
    <link rel="stylesheet" href="/assets/css/components/home/home-vision-and-mission.css">
    
    <title>Seaventure | Home</title>
</head>
<body>
    <%- include('partials/preloader') %>
    <%- include('partials/header') %>
    <%- include('partials/popup') %>
    <main class="homepage">
        <!-- Section: Home Banner -->
        <section class="home-banner" style="background-image: url('/assets/images/home/compressed/home-banner.jpg')">
            <div class="container">
                <div class="home-banner__contents">
                    <h1 class="home-banner__title">We Provide <br> The Boutique Solution <br> To Our Customers</h1>
                    <p class="home-banner__description"> 
                        Our years of experience in supply chain provides a pivotal
                        logistics solution to all our customer needs, led by an
                        experienced leadership group and a very versatile operation
                        team.
                    </p>
                    <div class="btn-wrap">
                        <a href="/about" class="btn btn-primary">About Us</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: About Us -->
        <section class="home-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 image-col">
                        <figure class="home-about__image">
                            <img src="/assets/images/home/compressed/warehouse-workers.jpg" alt="warehouse-workers">
                        </figure>
                    </div>
                    <div class="col-lg-8 content-col">
                        <h2 class="home-about__subtitle">Who we are</h2>
                        <h3 class="home-about__title">About Us</h2>
                        <div class="home-about__description">
                            <p>A company conceived from curiosity for maritime, that  has evolved into strong passion for Shipping, logistics and  supply chain solutions offering the highest level of  professional services backed by years of experience at a  realistic core.</p>
                            <p>The foundation of the business consists of services such  as international freight (Air, Ocean, Land) customs  clearance, transportation and covers all logistics  demands. These services can act as standalone products  or as part of our broader offering as a supply chain  provider.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Section: Our Services -->
        <section class="home-services">
            <div class="container">
                <div class="service-head">
                    <h2 class="home-services__subtitle">What we do</h2>
                    <h3 class="home-services__title">Our Services</h2>
                    <p class="home-services__description">Aliqua sunt ad anim exercitation irure pariatur sint id cupidatat quis consequat officia.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <article class="service-card" id="service-sea">
                            <figure class="service-card__image">
                                <img src="/assets/images/home/compressed/sea-freight.jpg" alt="cargo-ship">
                            </figure>
                            <div class="service-card__contents" data-bs-toggle="modal" data-bs-target="#serviceModal">
                                <div class="content-wrap">
                                    <h3 class="service-card__title">Sea Freight</h3>
                                    <p class="service-card__description">By leveraging our global network and long-standing carrier
                                        relationships, Seaventure brings you flexible, reliable ocean
                                        freight forwarding solutions built around operational
                                        excellence. In order to offer the best service possible, we have
                                        a dedicated Ocean Freight Department specializing in FCL,
                                        LCL, Break-Bulk, Project Cargo and different types of cargoes
                                        on a global scale. Our worldwide logistics services cover not
                                        only shipments from port-to-port, but also the complete
                                        door-to-door supply chain solution.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <article class="service-card" id="service-air">
                            <figure class="service-card__image">
                                <img src="/assets/images/home/compressed/air-freight.jpg" alt="">
                            </figure>
                            <div class="service-card__contents" data-bs-toggle="modal" data-bs-target="#serviceModal">
                                <div class="content-wrap">
                                    <h3 class="service-card__title">Air Freight</h3>
                                    <p class="service-card__description">Vital and valuable goods are often subject to extreme time
                                        pressures and deadlines for everyone involved. Thanks to our
                                        strategic alliances around the globe, you have the flexibility to
                                        choose from a range of air freight service options tailored to
                                        your precise needs, complete with end-to end visibility.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <article class="service-card" id="service-road">
                            <figure class="service-card__image">
                                <img src="/assets/images/home/compressed/road-freight.jpg" alt="">
                            </figure>
                            <div class="service-card__contents" data-bs-toggle="modal" data-bs-target="#serviceModal">
                                <div class="content-wrap">
                                    <h3 class="service-card__title">Road Freight</h3>
                                    <p class="service-card__description">Whether direct transport (FCL/FTL) or groupage (LCL/LTL) -
                                        thanks to innovative teams and excellent personnel, we can
                                        offer you transport solutions that are tailored to your
                                        requirements. Benefit from fast transit times, reliable
                                        capacities, a wide range of products, andunrivaled service
                                        quality.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <article class="service-card" id="service-customs">
                            <figure class="service-card__image">
                                <img src="/assets/images/home/compressed/customs-clearance.jpg" alt="">
                            </figure>
                            <div class="service-card__contents" data-bs-toggle="modal" data-bs-target="#serviceModal">
                                <div class="content-wrap">
                                    <h3 class="service-card__title">Customs Clearance</h3>
                                    <p class="service-card__description">Seaventure is widely recognized as
                                        one of the leading customs brokers, mainly in UAE. With our
                                        long standing professional relationships with government
                                        agencies and with this hard-earned relation we can assure
                                        you the best and on time clearance service. Which also adds
                                        distinct advantage when it comes to negotiating difficult
                                        consignments and dealing with the challenges of
                                        bureaucratic procedures. In short, our customer gets
                                        Hassle-Free service.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <article class="service-card" id="service-warehousing">
                            <figure class="service-card__image">
                                <img src="/assets/images/home/compressed/warehousing.jpg" alt="">
                            </figure>
                            <div class="service-card__contents" data-bs-toggle="modal" data-bs-target="#serviceModal">
                                <div class="content-wrap">
                                    <h3 class="service-card__title">Warehousing and Contract Logistics</h3>
                                    <p class="service-card__description">Whether you’re building a comprehensive international
                                        supply chain or just need to manage a seasonal inventory
                                        upsurge, Seaventure can help. Our extensive warehousing
                                        and distribution system will pick, pack, store and distribute
                                        consignments anywhere in the region by efficient modes of
                                        transport.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <article class="service-card" id="service-sea">
                            <figure class="service-card__image">
                                <img src="/assets/images/home/compressed/warehousing.jpg" alt="">
                            </figure>
                            <div class="service-card__contents" data-bs-toggle="modal" data-bs-target="#serviceModal">
                                <div class="content-wrap">
                                    <h3 class="service-card__title">Cargo Insurance</h3>
                                    <p class="service-card__description">
                                        Even though your cargoes are in safe hands there’s chances  for unforeseen situations, our comprehensive cargo 
                                        insurance  can cover such cases. Our service covers both onshore and  offshore property and loss or damage of cargo 
                                        on all modes  of transportation, one of our professional risk management  tools. Insurance service type includes all 
                                        cargoes ranging  from household goods, personal effects, live-stock, to  commercial goods.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Section: Why Choose Us -->
        <section class="home-why-us">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-7 content-col">
                        <h2 class="home-why-us__subtitle">Why us</h2>
                        <h3 class="home-why-us__title">Our Features</h3>
                        <div class="home-about__description">
                            <p>
                                The core of our offering is our exclusive innovation—rapidly
                                versatile, exceedingly adaptable, and particularly simple to
                                use for customers, accomplices, and sellers.
                            </p> 
                            <p>
                                <b>
                                    We are presently connected with and utilize more than 150+
                                    logisticians and nearby business people, in an extending
                                    overall system of areas. Since we are promoted by private
                                    value, we’ve developed rapidly and are a non-resource-based
                                    association that shares a solitary vision.
                                </b>
                            </p> 
                            <p>
                                At Seaventure, the client is our best need. We will likely give
                                you the best worldwide, yet neighborhood benefits around.
                                We need you to be cheerful. We need you to succeed.
                                Consequently, we cherish serving our clients and are
                                dependably... basically at your administration.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 image-col">
                        <figure class="home-why-us__image">
                            <img src="/assets/images/home/compressed/why-choose.jpg" alt="warehouse-workers">
                        </figure>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Visin and Mission -->
        <section class="home-vision-and-mission">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 home-vision-and-mission__card">
                        <h2 class="home-vision-and-mission__subtitle">Vision</h2>
                        <h3 class="home-vision-and-mission__title text-white">Lorem Ipsum Sit Dolor Amet</h3>
                        <div class="home-vision-and-mission__description text-white">
                            <p>To be the part of better tommorow, by connecting the world with savvy logistics solutions.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 home-vision-and-mission__card">
                        <h2 class="home-vision-and-mission__subtitle">Mission</h2>
                        <h3 class="home-vision-and-mission__title text-white">Lorem Ipsum Sit Dolor Amet</h3>
                        <div class="home-vision-and-mission__description text-white">
                            <p>Seaventure shipping services is dedicated to understanding our customer expectatons and identifying and developing oppurtunities that enhance customer supply chain strategies.</p>
                            <p>Our operating philosophy is founded on maintaining the highest level of quality service in the most efficient manner possible. We are committed to continuous process improvement through leadership, innovation and technology.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
    <!-- pagescript -->
    <script></script>
    <!-- component script -->
    <script src=""></script>
    <!-- main script -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>