// color palette
$primary-color: #ff5e14;
$secondary-color: #ffffff;
$tertiary-color: #ededed;

$dark: #141415;
$dark-alt: #19191C;

$hover-color: #bebebe;
$border-color: #cccccc;

$white: #ffffff;
$black: #000000;
$red: #ff0000;
$yelow: #fff000;

// font sizes
$fz_14: size(14);
$fz_15: size(15);
$fz_16: size(16);
$fz_18: size(18);
$fz_20: size(20);
$fz_24: size(24);
$fz_32: size(32);

$font-title: $fz_32;
$font-content: $fz_16;

// font weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

$font-poppins: 'Poppins', sans-serif;