%section-subtitle {
    font-size: size(16);
    font-weight: $font_medium;
    line-height: 1;
    color: $primary-color;
    margin-bottom: 8px;
}
%section-title {
    font-size: size(32);
    font-weight: $font-semibold;
    color: $black;
    max-width: 500px;
    margin-bottom: 12px;
}
%section-description {
    font-size: size(16);
    font-weight: $font-regular;
    color: $black;
    max-width: 500px;
    margin-bottom: 40px;
}