html {
    scrollbar-width: none;
    &.page-loaded {
        scrollbar-width: thin;
        scrollbar-color: $primary-color rgba(0, 0, 0, 0.3);
    }
}

.container {
    @include min(1600) {
        max-width: 1540px;
    }
}

.btn {
    padding-left: 30px;
    padding-right: 30px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    &-primary {
        background-color: $primary-color;
        border-color: $primary-color;
    }
    &-curved {
        border-radius: 45px;
    }
}
::-webkit-scrollbar {
    width: 0;
}
.page-loaded {
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 22px;
    }
}

.legal-page {
    padding-top: 160px;
    .main-header {
        background: #000;
    }
    main {
        padding: 80px 0;
    }
}