.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 1024;
    background-image: linear-gradient(to bottom, #000000cf, transparent);
    animation: headerSlide 0.8s ease-out 1 forwards;
    transition: 0.3s ease-in-out all;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        margin-bottom: 0;
        img {
            width: 100%;
            filter: invert(1);
        }
    }
    .hamburger {
        display: none;
    }
    .main-nav {
        @include max(991.98) {
            background: #fff;
            position: fixed;
            top: 0;
            right: 0;
            padding: 60px 20px 40px;
            max-width: 320px;
            width: 100%;
            height: 100vh;
            transform: translateX(100%);
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: 0.5s ease-out transform;
        }
        @include max(424.98) {
            max-width: 100%;
        }
        &__list {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            li {
                display: inline-block;
                @include max(991.98) {
                    display: block;
                    margin-bottom: 30px;
                }
                &:not(:first-child) {
                    @include min(991.98) {
                        padding-left: 15px;
                    }
                }
                &:not(:last-child) {
                    @include min(991.98) {
                        padding-right: 15px;
                    }
                }
                a {
                    font-size: size(15);
                    font-weight: $font_regular;
                    text-decoration: none;
                    color: $white;
                    transition: 0.3s color;
                    @include max(991.98) {
                        font-size: size(24);
                        color: $black;
                    }
                    &:hover {
                        color: $primary-color;
                    }
                }
                &.active {
                    a {
                        color: $primary-color;
                        font-weight: $font-semibold;
                    }
                }
            }
        }
    }
    .socials {
        &__list {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            @include min(992) {
                display: none;
            }
            li {
                display: inline-block;
                padding: 0 20px;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                a {
                    svg {
                        transition: 0.3s ease all;
                        path {
                            transition: 0.3s ease all;
                        }
                    }
                    &:hover {
                        svg {
                            transform: translateY(-2px);
                            path {
                                fill: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include max(991.98) {
    .menu-open {
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        .main-nav {
            overflow: auto;
            transform: translateX(0);
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .menu-overlay {
            opacity: 1;
            visibility: visible;
        }
    }
    .main-header {
        .container {
            position: relative;
        }
    }
    .hamburger {
        display: block !important;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        span {
            display: block;
            width: 30px;
            height: 3px;
            border-radius: 22px;
            background: $white;
            margin-bottom: 5px;
        }
    }
    .close-menu-btn {
        position: absolute;
        top: 30px;
        right: 15px;
        cursor: pointer;
        &:hover {
            span {
                background: $primary-color;
            }
        }
        span {
            display: block;
            width: 20px;
            height: 2px;
            background: $black;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 22px;
            transform: rotate(45deg);
            transform-origin: center;
            transition: 0.3s ease background;
            + span {
                transform: rotate(-45deg);
            }
        }
    }
    .menu-overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        background: #000000a2;
        z-index: 2;
        transition: 0.3s ease-out opacity;
    }
}

.slim-header {
    .main-header {
        background: rgba(0, 0, 0, 0.7);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        padding: 15px 0;
        @supports (-moz-appearance: none) {
            background: #000000;
        }
    }
}

.android {
    .main-nav {
        padding-bottom: 70px;
    }
}

@keyframes headerSlide {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}